.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  margin: 20px;
}

.navigation {
  display: inline-block;
}

#title {
  flex: 1;
}

.li {
  align-self: flex-end;
  color: black;
  height: 50px;
  width: 50px;
  padding: 5px;
}

a {
  color: black;
}

p {
  margin: 20px;
}

#line {
  border: 1px solid black;
}
/* NEED to fix bottom black line (make thinner)*/

main {
  display: flex;
  justify-content: center;
}

.middleContent {
  display: flex;
}

section {
  border: 1px solid black;
}

article {
  border: thin solid black;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
